<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Client-App Province</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container md-3">

            <h1>Data Province</h1>
            <br>
            <a th:href="@{/province/add}" class="btn-primary btn-sm mb-3">Add Province</a>
            <table border="1" class="table table-striped table-responsive-col-sm-3">
                <thead>
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <td>Province Id</td>
                        <td>Province Name</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>
                        <!--iterator(satuan) : list<satuan>(tergantung model yg diberikan nama pada controller)-->
                        <tr th:each="p : ${provinces}">
                            <td th:text="${p.provinceId}"></td>
                            <td th:text="${p.provinceName}"></td>
                            <td>
                                <a th:href="@{/province/{id} (id = ${p.provinceId})}" class="btn-primary btn-sm mb-3">Update</a>
                                <a th:href="@{/province/delete/{id} (id = ${p.provinceId})}" th:onclick="return confirm('Apakah ingin dihapus?')" 
                                   class="btn-danger btn-sm mb-3">Delete</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>
